@use '../../../styles/mixins' as *;

.section-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .section-label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #64748b;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .radios {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
  }

  .error-input {
    @include form-error-text();
  }
}
