<div class="inicio-container">
  <header>
    <h1>Mis Postulaciones</h1>
    <div class="acciones-header">
      <button type="button" class="btn btn-primary" [routerLink]="['/agregar']">
        <app-icon-plus></app-icon-plus>
        <span>Agregar</span>
      </button>

      <button type="button" class="btn btn-secondary" [routerLink]="['/estados']">
        <app-icon-gear></app-icon-gear>
        <span>Estados</span>
      </button>

      <div class="divider"></div>

      <button type="button" class="btn btn-logout" (click)="cerrarSesion()">
        <app-icon-row></app-icon-row>
        <span>Salir</span>
      </button>
    </div>
  </header>

  @if (cargando()) {
    <app-loading />
  } @else if (postulaciones().length > 0) {
    <div class="postulaciones">
      @for (postulacion of postulaciones(); track postulacion.id) {
        <app-job-card [postulacion]="postulacion"></app-job-card>
      }
    </div>
  } @else {
    <p>No tienes postulaciones registradas.</p>
  }
</div>
