<div class="detalles-container" [style.--status-color]="activarColor()">
  <div class="esfera"></div>
  <div class="detalles">
    @if (cargando()) {
      <app-loading />
    }
    @if (postulacion(); as p) {
      <header class="encabezado">
        <div class="titulo-wrapper">
          <h1>{{ p.nombreOferta }}</h1>
          <app-tag [estado]="p.estado" />
        </div>
      </header>

      <div class="contenido">
        <div class="acciones-card">
          <button
            type="button"
            class="btn-icon btn-editar"
            [routerLink]="['/editar', p.id]"
            title="Editar postulación"
          >
            <app-icon-pencil></app-icon-pencil>
          </button>

          <button
            type="button"
            class="btn-icon btn-eliminar"
            (click)="eliminarPostulacion()"
            title="Eliminar postulación"
          >
            <app-icon-trash></app-icon-trash>
          </button>
        </div>

        @if (p.nombreEmpresa) {
          <app-data-field label="Empresa" [value]="p.nombreEmpresa" />
        }

        @if (p.paginaAplicacion) {
          <app-data-field label="Página Aplicación" [value]="p.paginaAplicacion" />
        }

        @if (p.modalidad) {
          <app-data-field label="Modalidad" [value]="p.modalidad" [badge]="true" />
        }

        @if (p.fecha) {
          <app-data-field label="Fecha Postulación" [value]="p.fecha | date: 'dd/MM/yyyy'" />
        }

        @if (p.url) {
          <app-data-field label="Enlace de oferta" [url]="p.url" [fullWidth]="true" />
        }
      </div>
      @if (p.historial && p.historial.length >= 1) {
        <h3 class="titulo-historial">Historial de Cambios</h3>
        <!-- Contenedor padre de la línea continua -->
        <div class="timeline-wrapper">
          @for (cambio of p.historial; track $index) {
            <app-history-card [historial]="cambio"></app-history-card>
          }
        </div>
      }
    }
  </div>
</div>
