<div class="formulario-container">
  <app-header
    [titulo]="postulacion() ? 'Editar postulación' : 'Crear nueva postulación'"
    subtitulo="Ingresa las características y el estado actual de la oferta"
    [url]="postulacion() ? `/detalles/${postulacion()?.id}` : '/'"
  ></app-header>

  <form class="formulario" [formGroup]="formulario" (ngSubmit)="guardar()">
    <div class="inputs-group">
      <app-input-field
        controlName="nombreOferta"
        label="Nombre de la oferta *"
        placeholder="Ej: Frontend Developer"
        error="El nombre de la oferta es obligatorio."
        [mostrarError]="esCampoInvalido('nombreOferta')"
      />

      <app-input-field controlName="nombreEmpresa" label="Empresa" placeholder="Ej: Google" />

      <div class="row">
        <app-input-field controlName="url" label="URL de la oferta" placeholder="https://..." />

        <app-input-field
          controlName="paginaAplicacion"
          label="Plataforma / Portal"
          placeholder="Ej: LinkedIn"
        />
      </div>
    </div>

    <app-chip-group
      label="Modalidad *"
      error="Selecciona una modalidad."
      [mostrarError]="esCampoInvalido('modalidad')"
    >
      <app-chip controlName="modalidad" label="Remoto" value="REMOTO" />
      <app-chip controlName="modalidad" label="Híbrido" value="HIBRIDO" />
      <app-chip controlName="modalidad" label="Presencial" value="PRESENCIAL" />
    </app-chip-group>

    <app-chip-group
      label="Estado actual *"
      error="Selecciona un estado."
      [mostrarError]="esCampoInvalido('estadoId')"
    >
      @for (estado of estados(); track estado.id) {
        <app-chip controlName="estadoId" [estado]="estado" tipo="estado" />
      }
    </app-chip-group>

    <footer class="modal-actions">
      <button type="submit" class="btn-submit">
        {{ postulacion() ? 'Guardar cambios' : 'Crear postulación' }}
      </button>
    </footer>
  </form>
</div>
