@if (cargando()) {
  <app-loading />
}

<div class="formulario-container">
  <app-header
    titulo="Configuración de Estados"
    subtitulo="Gestiona y personaliza las etiquetas de tus postulaciones"
    url="/"
  ></app-header>

  <main class="estados-scroll-area">
    <div class="estados-list">
      @for (estado of estados(); track estado.id) {
        <app-estado-input
          [id]="estado.id"
          [colorInicial]="estado.color"
          [tituloInicial]="estado.nombre"
          [porDefectoInicial]="estado.porDefecto"
          (alGuardar)="procesarEdicion($event)"
          (alCambiarDefecto)="procesarEdicion($event)"
          (alEliminar)="eliminar($event)"
        ></app-estado-input>
      }
    </div>
  </main>

  @if (estados().length < 5) {
    <footer class="modal-footer">
      <div class="separador">
        <span>Crear nuevo estado</span>
      </div>
      <div class="agregar-estado-wrapper">
        <app-estado-input
          [colorInicial]="color()"
          [tituloInicial]="texto()"
          [porDefectoInicial]="defecto()"
          [mostrarEliminar]="false"
          (alGuardar)="procesarGuardado($event)"
        ></app-estado-input>
      </div>
    </footer>
  } @else {
    <footer class="modal-footer">
      <div class="separador">
        <span>Máximo de Estados creados</span>
      </div>
    </footer>
  }
</div>
